<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <%= stylesheet_link_tag "site" %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <!-- Use the title from a page's frontmatter if it has one -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">
    <title><%= dato.site.name %></title>
  </head>
  <body class="page-layout">
    <header>
      <div class="header-brand">
        <%= image_tag '/images/logo.png', class: 'header-brand__logo' %>
        <%= link_to 'Scuole Parrocchiali Desio', '/', class: 'font-title link header-brand__link' %>
      </div>
      <%= link_to 'Le scuole', schools_path, class: 'font-title link header-link' %>
      <%= link_to 'Esploratori', exploratory_path, class: 'font-title link header-link' %>
    </header>
    <main class="main">
      <div class="page-content">
        <%= yield %>
      </div>
    </main>
    <footer>
      <div class="footer-wrapper">
        <p class="footer-item">
          <%= dato.contact.address_footer %>
        </p>
        <%= link_to dato.contact.email, "mailto:#{dato.contact.email}", class: 'footer-item' %>
        <%= link_to 'Scuola in chiaro', transparency_path, class: 'footer-item' %>
        <%= link_to 'Calendario giorni festivi', dato.homepage.holiday_calendar.url, class: 'footer-item' %>
      </div>
    </footer>
  </body>
</html>
