<ul class="breadcrumbs">
  <li><%= link_to 'Home', '/index.html' %></li>
  <li><%= link_to 'Le scuole', '/le_scuole.html' %></li>
  <li><%= link_to 'San Giuseppe', '/scuole/san_giuseppe.html' %></li>
  <li><%= link_to 'Eventi', '/scuole/san_giuseppe/eventi.html' %></li>
</ul>


<section>
  <ol class="timeline">
    <li>
      <span class="timeline__marker"></span>
      <span class="timeline__date">
        2019-07-12
      </span>
      <div class="section-card timeline__card">
        <h1 class="title">Evento 1</h1>
        <%= image_tag 'peda-icon.jpg', class: 'timeline__icon' %>
        <p class="timeline__label">Amministrazione</p>
        <p class="text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <%= link_to 'Scopri', '.html', class:'timeline__button' %>
      </div>
    </li>
    <li>
      <span class="timeline__marker"></span>
      <span class="timeline__date">
        2019-07-12
      </span>
      <div class="section-card timeline__card">
        <h1 class="title">Evento 1</h1>
        <%= image_tag 'amm-icon.png', class: 'timeline__icon' %>
        <p class="timeline__label">Amministrazione</p>
        <p class="text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <%= link_to 'Scopri', '/scuole/san_vincenzo/eventi.html', class:'timeline__button' %>
      </div>
    </li>
  </ol>
</section>
