<section class="grid-container">
  <ul class="breadcrumbs">
    <li><%= link_to 'Home', '/' %></li>
    <li><%= link_to 'Esploratori', exploratory_path %></li>
    <li><%= link_to 'Calendario', exploratory_calendar_path %></li>
    <li><%= link_to event.name, exploratory_calendar_event_path(event) %></li>
  </ul>

  <div class="section-card">
    <div class="event-info">
      <p class="event-info__date"><%= event.date %></p>
      <div class="event-info__category">
        <%= image_tag event.category.image.url, class: 'document-icon' %>
        <p class="event-info__category__label"><%= event.category.name %></p>
      </div>
    </div>
    <h1 class="section-card__title font-title"><%= event.name %></h1>
    <p class="text"><%= event.description %></p>
  </div>
</section>
