<section class="grid-container">
  <ul class="breadcrumbs">
    <li><%= link_to 'Home', '/index.html' %></li>
    <li><%= link_to 'Calendario', '/esploratori/calendario.html' %></li>
    <li><%= link_to event[:title], "/esploratori/calendario/#{event[:slug]}.html" %></li>
  </ul>

  <div class="section-card">
    <div class="event-info">
      <p class="event-info__date"><%= event[:date] %></p>
      <div class="event-info__category">
        <%= image_tag event[:icon_path], class: 'document-icon' %>
        <p class="event-info__category__label"><%= event[:category] %></p>
      </div>
    </div>
    <h1 class="section-card__title font-title"><%= event[:title] %></h1>
    <p class="text"><%= event[:description] %></p>
  </div>
</section>
