<ul class="breadcrumbs">
  <li><%= link_to 'Home', '/index.html' %></li>
  <li><%= link_to 'Le scuole', '/le_scuole.html' %></li>
  <li><%= link_to school[:label], "/scuole/#{school[:slug]}.html" %></li>
  <li><%= link_to 'Eventi', "/scuole/#{school[:slug]}/eventi.html" %></li>
  <li><%= link_to event[:title], "/scuole/#{school[:slug]}/eventi/#{event[:slug]}.html" %></li>
</ul>

<%= event.inspect %>
