<ul class="breadcrumbs">
  <li><%= link_to 'Home', '/index.html' %></li>
  <li><%= link_to 'Le scuole', '/le_scuole.html' %></li>
  <li><%= link_to school[:label], "/scuole/#{school[:slug]}.html" %></li>
  <li><%= link_to 'Eventi', "/scuole/#{school[:slug]}/eventi.html" %></li>
</ul>

<section>
  <ol class="timeline">
    <% events.each do |event| %>
    <li>
      <span class="timeline__label"><%= event[:date] %></span>
      <div class="section-card timeline__card">
        <h1 class="section-card__title text-center"><%= event[:title] %></h1>
        <%= image_tag event[:icon_path], class: 'timeline__icon' %>
        <p class="section-card__label"><%= event[:category] %></p>
        <div class="section-card__body">
          <p class="section-card__text"><%= event[:description] %></p>
          <%= link_to 'Scopri', "/scuole/#{school[:slug]}/eventi/#{event[:slug]}.html", class:'button button--card-action' %>
        </div>
      </div>
    </li>
    <% end %>
  </ol>
</section>
