<section class="grid-container">
  <ul class="breadcrumbs">
    <li><%= link_to 'Home', '/' %></li>
    <li><%= link_to 'Le scuole', schools_path %></li>
    <li><%= link_to school.name, school_path(school) %></li>
    <li><%= link_to 'Eventi', school_events_path(school) %></li>
    <li><%= link_to event.name, school_event_path(school, event) %></li>
  </ul>

  <div class="section-card">
    <div class="event-info">
      <p class="event-info__date"><%= format_date(event.date) %></p>
      <div class="event-info__category">
        <%= image_tag event.category.image.url, class: 'document-icon' %>
        <p class="event-info__category__label"><%= event.category.name %></p>
      </div>
    </div>
    <h1 class="section-card__title font-title"><%= event.name %></h1>
    <div class="rich-text"><%= event.description %></div>
  </div>
</section>
