<section class="grid-container">
  <ul class="breadcrumbs">
    <li><%= link_to 'Home', '/' %></li>
    <li><%= link_to 'Le scuole', schools_path %></li>
    <li><%= link_to school.name, school_path(school) %></li>
    <li><%= link_to 'Progetti in corso', school_projects_path(school) %></li>
    <li><%= link_to project.title, school_project_path(school, project) %></li>
  </ul>

  <div class="section-card">
    <h1 class="section-card__title font-title"><%= project.title %></h1>
    <%= image_tag project.cover.url, class: 'cover-image' %>
    <p class="section-card__date"><%= project.date %></p>
    <p class="text"><%= project.description %></p>
  </div>

  <div class="gallery">
    <% project.gallery.each do |photo| %>
      <figure class="gallery-card">
        <% link_to photo.image.url, class:'card__link' do %>
          <%= image_tag thumbnail_url(image: photo.image), class: 'card__image' %>
        <% end %>
        <% if present?(photo.description) %>
          <figcaption class="card__description">
            <%= photo.description %>
          </figcaption>
        <% end %>
      </figure>
    <% end %>
  </div>
</section>
