<section class="grid-container">
  <ul class="breadcrumbs">
    <li><%= link_to 'Home', '/' %></li>
    <li><%= link_to 'Le scuole', schools_path %></li>
    <li><%= link_to school.name, school.slug %></li>
  </ul>

  <%= image_tag school.cover.url, class: 'cover-image' %>
  <h1 class="title">
    Storia
  </h1>
  <div class="rich-text"><%= school.description %></div>

  <div class="gallery">
    <% school.gallery.each do |photo| %>
      <figure class="gallery-card">
        <% link_to photo.image.url, class:'card__link' do %>
          <%= image_tag thumbnail_url(image: photo.image), class: 'card__image' %>
        <% end %>
        <% if present?(photo.description) %>
          <figcaption class="card__description">
            <%= photo.description %>
          </figcaption>
        <% end %>
      </figure>
    <% end %>
  </div>

  <% if school.timetable %>
    <table class="table">
      <thead>
        <tr>
          <th>Orari</th>
        </tr>
      </thead>
      <tbody>
        <% school.timetable.timetable_row.each do |row| %>
          <tr>
            <td><%= row.interval %></td>
            <td><%= row.activity %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <% if school.team %>
    <div class="team">
      <h1 class="title">Il team</h1>
      <%= image_tag school.team.photo.url, class: 'cover-image' %>
      <div class="rich-text"><%= school.team.description %></div>
    </div>
  <% end %>
  <div class="card-container">
    <div class="section-card">
      <h1 class="section-card__title font-title">Progetti in corso</h1>
      <div class="section-card__body">
        <div class="rich-text"><%= school.projects_description %></div>
        <%= link_to 'Scopri', school_projects_path(school), class: 'button button--card-action' %>
      </div>
    </div>
    <div class="section-card">
      <h1 class="section-card__title font-title">Calendario</h1>
      <div class="section-card__body">
        <div class="rich-text"><%= school.events_description %></div>
        <%= link_to 'Scopri', school_events_path(school), class: 'button button--card-action' %>
      </div>
    </div>
    <% if school.transparency %>
      <div class="section-card">
        <h1 class="section-card__title font-title">Scuola in chiaro</h1>
        <div class="section-card__body">
          <%= link_to 'Scopri', school_transparency_path(school), class: 'button button--card-action' %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="contact-card">
    <h1 class="title">Contatti</h1>
    <div>
      <p><%= school.contacts.address %></p>
      <p><%= school.contacts.phone %></p>
      <p>
        <%= link_to school.contacts.email, "mailto:#{school.contacts.email}", class: 'link' %>
      </p>
    </div>
  </div>

  <div class="documents-list">
    <% if school.holiday_calendar %>
      <div class="documents-list__item">
        <%= image_tag 'document-icon.png', class: 'document-icon' %>
        <%= link_to 'Calendario giorni festivi', school.holiday_calendar.url, class: 'link' %>
      </div>
    <% end %>
    <% school.links.each do |link| %>
      <div class="documents-list__item">
        <%= image_tag link.icon.image.url, class: 'document-icon' %>
        <%= link_to link.title, link.url, class: 'link' %>
      </div>
      <% end %>
  </div>
</section>
