<section class="grid-container">
  <ul class="breadcrumbs">
    <li><%= link_to 'Home', '/' %></li>
    <li><%= link_to 'Le scuole', schools_path %></li>
    <li><%= link_to school.name, school_path(school) %></li>
    <li><%= link_to 'Scuola in chiaro', school_transparency_path(school) %></li>
  </ul>

  <h1 class="title">Scuola in chiaro</h1>

  <div class="card-container">
    <% school.transparency.documents.each do |document| %>
      <section class="section-card">
        <%= image_tag 'document-icon.png', class:'document-icon' %>
        <h1 class="section-card__title font-title"><%= document.name %></h1>
        <p class="section-card__date date-info">
          <span class="date-info__label">
            Creato il:
          </span>
          <span class="date-info__value">
            <%= format_date(document.created_at) %>
          </span>
        </p>
        <div class="section-card__body">
          <div class="rich-text"><%= document.description %></div>
          <p class="section-card__date date-info">
            <span class="date-info__label">
              Aggiornato il:
            </span>
            <span class="date-info__value">
              <%= format_date(document.updated_at) %>
            </span>
          </p>
          <%= link_to 'Scarica', document.attachment.url, class: 'button button--card-action' %>
        </div>
      </section>
    <% end %>
  </div>
</section>
