<section class="grid-container">
  <ul class="breadcrumbs">
    <li><%= link_to 'HOME', '/', class: 'breadcrumbs__home' %></li>
  </ul>

  <h1 class="title">
    Chi siamo?
  </h1>

  <div class="rich-text"><%= dato.homepage.who_are_we %></div>

  <h1 class="title">
    Obiettivi
  </h1>

  <div class="rich-text"><%= dato.homepage.goals %></div>

  <div id="map"></div>
  <script>
    mapboxgl.accessToken = 'pk.eyJ1Ijoib2xpc3RpayIsImEiOiJjaW03a2lvd2MwMDBsdzhtNTZzeG9pYzFsIn0.EnuMVTEKyFfJN6XZhtLmIA';
    var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/olistik/cjwz2na0u0fbj1cn5k04p4rzy',
      center: [9.217394156387513, 45.61926405617254], // starting position [lng, lat]
      zoom: 13.477287633784492,
    });
    // disable map zoom when using scroll
    map.scrollZoom.disable();
    var boundingBox = [
      [9.236383738941981, 45.62573206898807],
      [9.196924866053479, 45.61279529723129]
    ]
    map.fitBounds(boundingBox)
  </script>

  <div class="documents-list">
    <div class="documents-list__item">
      <%= image_tag 'document-icon.png', class: 'document-icon' %>
      <%= link_to 'Scuola in chiaro', transparency_path, class: 'link' %>
    </div>
    <div class="documents-list__item">
      <%= image_tag 'document-icon.png', class: 'document-icon' %>
      <%= link_to 'Calendario giorni festivi', dato.homepage.holiday_calendar.url, class: 'link' %>
    </div>
  </div>
</section>
