<ul class="breadcrumbs">
  <li><a href="/index.html">Home</a></li>
  <li><a href="/le_scuole.html">Le scuole</a></li>
</ul>
<section class="card">
      <%= link_to 'Scuola dell&#39infanzia San Giuseppe', '/scuole/san_giuseppe.html', class: 'school-link' %>
  <figure>
    <%= image_tag 'example1.jpg', class: 'example'%>
  </figure>
</section>

<section class="card">
      <%= link_to 'Scuola dell&#39infanzia San Giorgio', '/scuole/san_giorgio.html', class: 'school-link' %>
  <figure>
    <%= image_tag 'example2.jpg', class: 'example'%>
  </figure>
</section>

<section class="card">
      <%= link_to 'Scuola dell&#39infanzia paritaria San Vincenzo', '/scuole/san_vincenzo.html', class: 'school-link' %>
  <figure>
    <%= image_tag 'example3.jpg', class: 'example'%>
  </figure>
</section>
