<section class="grid-container">
  <ul class="breadcrumbs">
    <li><%= link_to 'Home', '/index.html' %></li>
    <li><%= link_to 'Scuole in chiaro', '/scuole_in_chiaro.html' %></li>
  </ul>

  <h1 class="title">Scuole in chiaro</h1>

  <div class="card-container">
    <% documents.each do |document| %>
      <section class="section-card">
        <%= image_tag document[:icon_path], class:'document-icon' %>
        <h1 class="section-card__title font-title"><%= document[:title] %></h1>
        <p class="section-card__date date-info">
          <span class="date-info__label">
            Creato il:
          </span>
          <span class="date-info__value">
            <%= document[:date] %>
          </span>
        </p>
        <div class="section-card__body">
          <p class="text"><%= document[:description] %></p>
          <p class="section-card__date date-info">
            <span class="date-info__label">
              Aggiornato il:
            </span>
            <span class="date-info__value">
              <%= document[:update] %>
            </span>
          </p>
          <%= link_to 'Scarica', document[:url], class: 'button button--card-action' %>
        </div>
      </section>
    <% end %>
  </div>
</section>
