<section class="grid-container">
  <ul class="breadcrumbs">
    <li><%= link_to 'Home', '/index.html' %></li>
    <li><%= link_to 'Esploratori', '/esploratori.html' %></li>
    <li><%= link_to 'Calendario', '/esploratori/calendario.html' %></li>
  </ul>

  <h1 class="title">Calendario</h1>
  <ol class="timeline">
    <% explorer_events.each do |event| %>
    <li>
      <span class="timeline__label"><%= event[:date] %></span>
      <div class="section-card timeline__card">
        <h1 class="section-card__title text-center font-title"><%= event[:title] %></h1>
        <%= image_tag event[:icon_path], class: 'timeline__icon' %>
        <p class="section-card__label"><%= event[:category] %></p>
        <div class="section-card__body">
          <p class="section-card__text">
            <%=
              words_limit = 30
              words = event[:description].split(' ')
              if words.length <= words_limit
                event[:description]
              else
                words[0..words_limit].join(' ') + ' [..]'
              end
            %>
          </p>
          <%= link_to 'Scopri', "/esploratori/calendario/#{event[:slug]}.html", class:'button button--card-action' %>
        </div>
      </div>
    </li>
    <% end %>
  </ol>
</section>
