<section class="grid-container">
  <ul class="breadcrumbs">
    <li><%= link_to 'Home', '/' %></li>
    <li><%= link_to 'Esploratori', exploratory_path %></li>
    <li><%= link_to 'Calendario', exploratory_calendar_path %></li>
  </ul>

  <h1 class="title">Calendario Esploratori</h1>
  <ol class="timeline">
    <% dato.exploratory.events.each do |event| %>
    <li>
      <span class="timeline__label"><%= event.date %></span>
      <div class="section-card timeline__card">
        <h1 class="section-card__title text-center font-title"><%= event.name %></h1>
        <%= image_tag event.category.image.url, class: 'timeline__icon' %>
        <p class="section-card__label"><%= event.category.name %></p>
        <div class="section-card__body">
          <p class="section-card__text">
            <%=
              words_limit = 30
              words = event.description.split(' ')
              if words.length <= words_limit
                event.description
              else
                words[0..words_limit].join(' ') + ' [..]'
              end
            %>
          </p>
          <%= link_to 'Scopri', exploratory_calendar_event_path(event), class:'button button--card-action' %>
        </div>
      </div>
    </li>
    <% end %>
  </ol>
</section>
